# Configuration #####################################################
todo.txt

# Logs ##############################################################
logs/*

# Modules ###########################################################
node_modules/*
