# Configuration #####################################################
todo.txt

# Logs & Generated Output ###########################################
logs/*
_site/*

# Modules ###########################################################
node_modules/*
